<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Word Count</title>
</head>
<body>
    <div class="container">
        <h1>How many times your word showed up:</h1>
        <h4>{{ result }}</h4>
    </div>
</body>
</html>
