<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Word Counter!</title>
</head>
<body>
    <div class='container'>
        <h1>Count the word in a sentence</h1>
        <p>Enter the word first, then the sentenced you would like to count it in</p>
        <form action='/view_results'>
            <div class='form-group'>
              <label for='word'>Word:</label>
              <input id='word' name='word' class='form-control' type='text'>
              <label for='string'>Sentence you would like to check: </label>
              <input id='string' name='string' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Count it!</button>
        </form>
    </div>
</body>
</html>
